# day26

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("retail_shop_data.csv")

In [3]:
df

,Date,Customer ID,Product ID,Product Name,Cost,Price,Quantity,Total
0,1 01 2023,1001,101,T-Shirt,18,20,2,40
1,1 01 2023,1002,102,Jeans,35,50,1,50
2,2 01 2023,1003,103,Hoodie,25,30,3,90
3,3 01 2023,1004,104,Sneakers,55,70,2,140
4,3 01 2023,1005,105,Sunglasses,17,25,1,25
5,4 01 2023,1006,106,Backpack,40,45,2,90
6,5 01 2023,1007,107,Watch,50,60,1,60
7,6 01 2023,1008,108,Jacket,63,80,1,80
8,6 01 2023,1009,109,Scarf,8,15,2,30
9,7 01 2023,1010,110,Gloves,5,10,3,30
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35
11,9 01 2023,1002,112,Leggings,21,25,2,50
12,9 01 2023,1003,113,Beanie,9,12,1,12
13,9 01 2023,1008,108,Jacket,63,80,2,160
14,10 01 2023,1004,114,Boots,76,90,1,90
15,10 01 2023,1005,115,Belt,16,20,1,20
16,11 01 2023,1006,116,Wallet,28,30,1,30
17,12 01 2023,1007,117,Earrings,10,15,2,30
18,13 01 2023,1008,118,Bracelet,18,25,1,25
19,13 01 2023,1009,119,Necklace,35,50,1,50
20,14 01 2023,1010,120,Ring,33,40,2,80