# day25

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("retail_shop_data.csv")

In [4]:
df

,Date,Customer ID,Product ID,Product Name,Cost,Price,Quantity,Total
0,1 01 2023,1001,101,T-Shirt,18,20,2,40
1,1 01 2023,1002,102,Jeans,35,50,1,50
2,2 01 2023,1003,103,Hoodie,25,30,3,90
3,3 01 2023,1004,104,Sneakers,55,70,2,140
4,3 01 2023,1005,105,Sunglasses,17,25,1,25
5,4 01 2023,1006,106,Backpack,40,45,2,90
6,5 01 2023,1007,107,Watch,50,60,1,60
7,6 01 2023,1008,108,Jacket,63,80,1,80
8,6 01 2023,1009,109,Scarf,8,15,2,30
9,7 01 2023,1010,110,Gloves,5,10,3,30
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35
11,9 01 2023,1002,112,Leggings,21,25,2,50
12,9 01 2023,1003,113,Beanie,9,12,1,12
13,9 01 2023,1008,108,Jacket,63,80,2,160
14,10 01 2023,1004,114,Boots,76,90,1,90
15,10 01 2023,1005,115,Belt,16,20,1,20
16,11 01 2023,1006,116,Wallet,28,30,1,30
17,12 01 2023,1007,117,Earrings,10,15,2,30
18,13 01 2023,1008,118,Bracelet,18,25,1,25
19,13 01 2023,1009,119,Necklace,35,50,1,50
20,14 01 2023,1010,120,Ring,33,40,2,80

In [5]:
 k = df.columns.values

In [6]:
m = [ df[x].duplicated() for x in k  ]

In [7]:
df2 = pd.DataFrame(m)

In [8]:
df2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Date,False,True,False,False,True,False,False,False,True,False,...,False,True,True,False,True,False,False,False,True,False
Customer ID,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
Product ID,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
Product Name,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
Cost,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
Price,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,True,True,True,True,True,False
Quantity,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Total,False,False,False,False,False,True,False,False,False,True,...,True,False,False,True,False,True,True,True,True,True

In [9]:
df3 = df.copy()

In [10]:
df3

,Date,Customer ID,Product ID,Product Name,Cost,Price,Quantity,Total
0,1 01 2023,1001,101,T-Shirt,18,20,2,40
1,1 01 2023,1002,102,Jeans,35,50,1,50
2,2 01 2023,1003,103,Hoodie,25,30,3,90
3,3 01 2023,1004,104,Sneakers,55,70,2,140
4,3 01 2023,1005,105,Sunglasses,17,25,1,25
5,4 01 2023,1006,106,Backpack,40,45,2,90
6,5 01 2023,1007,107,Watch,50,60,1,60
7,6 01 2023,1008,108,Jacket,63,80,1,80
8,6 01 2023,1009,109,Scarf,8,15,2,30
9,7 01 2023,1010,110,Gloves,5,10,3,30
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35
11,9 01 2023,1002,112,Leggings,21,25,2,50
12,9 01 2023,1003,113,Beanie,9,12,1,12
13,9 01 2023,1008,108,Jacket,63,80,2,160
14,10 01 2023,1004,114,Boots,76,90,1,90
15,10 01 2023,1005,115,Belt,16,20,1,20
16,11 01 2023,1006,116,Wallet,28,30,1,30
17,12 01 2023,1007,117,Earrings,10,15,2,30
18,13 01 2023,1008,118,Bracelet,18,25,1,25
19,13 01 2023,1009,119,Necklace,35,50,1,50
20,14 01 2023,1010,120,Ring,33,40,2,80

In [11]:
df4 = df3.rename(columns = {"Total" : "Revenue" , "Price" : "Price Per Product" , "Cost" : "Cost Per Product"})

In [12]:
df4

,Date,Customer ID,Product ID,Product Name,Cost Per Product,Price Per Product,Quantity,Revenue
0,1 01 2023,1001,101,T-Shirt,18,20,2,40
1,1 01 2023,1002,102,Jeans,35,50,1,50
2,2 01 2023,1003,103,Hoodie,25,30,3,90
3,3 01 2023,1004,104,Sneakers,55,70,2,140
4,3 01 2023,1005,105,Sunglasses,17,25,1,25
5,4 01 2023,1006,106,Backpack,40,45,2,90
6,5 01 2023,1007,107,Watch,50,60,1,60
7,6 01 2023,1008,108,Jacket,63,80,1,80
8,6 01 2023,1009,109,Scarf,8,15,2,30
9,7 01 2023,1010,110,Gloves,5,10,3,30
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35
11,9 01 2023,1002,112,Leggings,21,25,2,50
12,9 01 2023,1003,113,Beanie,9,12,1,12
13,9 01 2023,1008,108,Jacket,63,80,2,160
14,10 01 2023,1004,114,Boots,76,90,1,90
15,10 01 2023,1005,115,Belt,16,20,1,20
16,11 01 2023,1006,116,Wallet,28,30,1,30
17,12 01 2023,1007,117,Earrings,10,15,2,30
18,13 01 2023,1008,118,Bracelet,18,25,1,25
19,13 01 2023,1009,119,Necklace,35,50,1,50
20,14 01 2023,1010,120,Ring,33,40,2,80

In [13]:
df4["Costs"] = df4["Cost Per Product"] * df4["Quantity"]

In [14]:
df4["Filter"] = -df4["Costs"] + df4["Revenue"]
df4

,Date,Customer ID,Product ID,Product Name,Cost Per Product,Price Per Product,Quantity,Revenue,Costs,Filter
0,1 01 2023,1001,101,T-Shirt,18,20,2,40,36,4
1,1 01 2023,1002,102,Jeans,35,50,1,50,35,15
2,2 01 2023,1003,103,Hoodie,25,30,3,90,75,15
3,3 01 2023,1004,104,Sneakers,55,70,2,140,110,30
4,3 01 2023,1005,105,Sunglasses,17,25,1,25,17,8
5,4 01 2023,1006,106,Backpack,40,45,2,90,80,10
6,5 01 2023,1007,107,Watch,50,60,1,60,50,10
7,6 01 2023,1008,108,Jacket,63,80,1,80,63,17
8,6 01 2023,1009,109,Scarf,8,15,2,30,16,14
9,7 01 2023,1010,110,Gloves,5,10,3,30,15,15
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35,24,11
11,9 01 2023,1002,112,Leggings,21,25,2,50,42,8
12,9 01 2023,1003,113,Beanie,9,12,1,12,9,3
13,9 01 2023,1008,108,Jacket,63,80,2,160,126,34
14,10 01 2023,1004,114,Boots,76,90,1,90,76,14
15,10 01 2023,1005,115,Belt,16,20,1,20,16,4
16,11 01 2023,1006,116,Wallet,28,30,1,30,28,2
17,12 01 2023,1007,117,Earrings,10,15,2,30,20,10
18,13 01 2023,1008,118,Bracelet,18,25,1,25,18,7
19,13 01 2023,1009,119,Necklace,35,50,1,50,35,15
20,14 01 2023,1010,120,Ring,33,40,2,80,66,14

In [15]:
df4["l"] = df4["Filter"] > 15
df4

,Date,Customer ID,Product ID,Product Name,Cost Per Product,Price Per Product,Quantity,Revenue,Costs,Filter,l
0,1 01 2023,1001,101,T-Shirt,18,20,2,40,36,4,False
1,1 01 2023,1002,102,Jeans,35,50,1,50,35,15,False
2,2 01 2023,1003,103,Hoodie,25,30,3,90,75,15,False
3,3 01 2023,1004,104,Sneakers,55,70,2,140,110,30,True
4,3 01 2023,1005,105,Sunglasses,17,25,1,25,17,8,False
5,4 01 2023,1006,106,Backpack,40,45,2,90,80,10,False
6,5 01 2023,1007,107,Watch,50,60,1,60,50,10,False
7,6 01 2023,1008,108,Jacket,63,80,1,80,63,17,True
8,6 01 2023,1009,109,Scarf,8,15,2,30,16,14,False
9,7 01 2023,1010,110,Gloves,5,10,3,30,15,15,False
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35,24,11,False
11,9 01 2023,1002,112,Leggings,21,25,2,50,42,8,False
12,9 01 2023,1003,113,Beanie,9,12,1,12,9,3,False
13,9 01 2023,1008,108,Jacket,63,80,2,160,126,34,True
14,10 01 2023,1004,114,Boots,76,90,1,90,76,14,False
15,10 01 2023,1005,115,Belt,16,20,1,20,16,4,False
16,11 01 2023,1006,116,Wallet,28,30,1,30,28,2,False
17,12 01 2023,1007,117,Earrings,10,15,2,30,20,10,False
18,13 01 2023,1008,118,Bracelet,18,25,1,25,18,7,False
19,13 01 2023,1009,119,Necklace,35,50,1,50,35,15,False
20,14 01 2023,1010,120,Ring,33,40,2,80,66,14,False

In [16]:
mar.size

NameError: name 'mar' is not defined

# day26

In [22]:
df4

,Date,Customer ID,Product ID,Product Name,Cost Per Product,Price Per Product,Quantity,Revenue,Costs,Filter,l
0,1 01 2023,1001,101,T-Shirt,18,20,2,40,36,4,False
1,1 01 2023,1002,102,Jeans,35,50,1,50,35,15,False
2,2 01 2023,1003,103,Hoodie,25,30,3,90,75,15,False
3,3 01 2023,1004,104,Sneakers,55,70,2,140,110,30,True
4,3 01 2023,1005,105,Sunglasses,17,25,1,25,17,8,False
5,4 01 2023,1006,106,Backpack,40,45,2,90,80,10,False
6,5 01 2023,1007,107,Watch,50,60,1,60,50,10,False
7,6 01 2023,1008,108,Jacket,63,80,1,80,63,17,True
8,6 01 2023,1009,109,Scarf,8,15,2,30,16,14,False
9,7 01 2023,1010,110,Gloves,5,10,3,30,15,15,False
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35,24,11,False
11,9 01 2023,1002,112,Leggings,21,25,2,50,42,8,False
12,9 01 2023,1003,113,Beanie,9,12,1,12,9,3,False
13,9 01 2023,1008,108,Jacket,63,80,2,160,126,34,True
14,10 01 2023,1004,114,Boots,76,90,1,90,76,14,False
15,10 01 2023,1005,115,Belt,16,20,1,20,16,4,False
16,11 01 2023,1006,116,Wallet,28,30,1,30,28,2,False
17,12 01 2023,1007,117,Earrings,10,15,2,30,20,10,False
18,13 01 2023,1008,118,Bracelet,18,25,1,25,18,7,False
19,13 01 2023,1009,119,Necklace,35,50,1,50,35,15,False
20,14 01 2023,1010,120,Ring,33,40,2,80,66,14,False

In [24]:
df4.drop("l" , axis = 1)

,Date,Customer ID,Product ID,Product Name,Cost Per Product,Price Per Product,Quantity,Revenue,Costs,Filter
0,1 01 2023,1001,101,T-Shirt,18,20,2,40,36,4
1,1 01 2023,1002,102,Jeans,35,50,1,50,35,15
2,2 01 2023,1003,103,Hoodie,25,30,3,90,75,15
3,3 01 2023,1004,104,Sneakers,55,70,2,140,110,30
4,3 01 2023,1005,105,Sunglasses,17,25,1,25,17,8
5,4 01 2023,1006,106,Backpack,40,45,2,90,80,10
6,5 01 2023,1007,107,Watch,50,60,1,60,50,10
7,6 01 2023,1008,108,Jacket,63,80,1,80,63,17
8,6 01 2023,1009,109,Scarf,8,15,2,30,16,14
9,7 01 2023,1010,110,Gloves,5,10,3,30,15,15
10,8 01 2023,1001,111,Sweatshirt,24,35,1,35,24,11
11,9 01 2023,1002,112,Leggings,21,25,2,50,42,8
12,9 01 2023,1003,113,Beanie,9,12,1,12,9,3
13,9 01 2023,1008,108,Jacket,63,80,2,160,126,34
14,10 01 2023,1004,114,Boots,76,90,1,90,76,14
15,10 01 2023,1005,115,Belt,16,20,1,20,16,4
16,11 01 2023,1006,116,Wallet,28,30,1,30,28,2
17,12 01 2023,1007,117,Earrings,10,15,2,30,20,10
18,13 01 2023,1008,118,Bracelet,18,25,1,25,18,7
19,13 01 2023,1009,119,Necklace,35,50,1,50,35,15
20,14 01 2023,1010,120,Ring,33,40,2,80,66,14

In [47]:
jacket_p = df4.loc[df["Product Name"] == "Jacket","Filter"].sum()
jacket_p

51

In [48]:
sneaker_p = df4.loc[df["Product Name"] == "Sneakers","Filter"].sum()
sneaker_p

30

In [49]:
dif = jacket_p - sneaker_p

In [50]:
dif

21

In [52]:
df4["Filter"].max()

34

In [93]:
import numpy as np
c = np.where(df4["Filter"] == 34)
c[0]

array([13], dtype=int64)

In [94]:
df4.loc[df4.index.values ==c[0] , "Product Name" ]

13    Jacket
Name: Product Name, dtype: object

In [96]:
sum_maxi_p = df4.loc[df4["Product Name"] == "Jacket" , "Costs"].sum()

In [97]:

sum_maxi_p

189

In [99]:
df4["Filter"].min()

2

In [100]:
k = np.where(df4["Filter"] == 2)

In [101]:
k

(array([16], dtype=int64),)

In [103]:
df4.loc[df4.index.values ==k[0] , "Product Name" ]

16    Wallet
Name: Product Name, dtype: object

In [104]:
sum_mini_p = df4.loc[df4["Product Name"] == "Wallet" , "Costs"].sum()